# Ignora la carpeta "vendor" y todos sus contenidos
node_modules/
package-lock.json
yarn.lock
bower_components/
dist/
/vendor/

# Archivos generados por Polymer CLI
polymer.json
.bowerrc
.bower.json
.bower/

# Ignora archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignora archivos de configuración de IDEs comunes
.vscode/
.idea/

# Ignora archivos de caché y registro (ajusta según tu aplicación)
/cache/
/logs/

# Ignora archivos de configuración sensibles (ajusta según tus necesidades)
config/database.php
config/secret.key
